.contact__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 380px;
  align-items: center;
  gap: 32px;
}
/* form */
.contact__form {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: var(--dark-gray);
}
.contact__form-inner {
  height: 100%;
  padding: 30px;
}
/* form input */
.contact__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact__form-inner .input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.contact__form-inner .input-group .ui-input {
  background: var(--dark-gray);

  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.contact__form-inner .ui-textarea {
  height: 161px;
  background: var(--dark-gray);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
/* form button */
.contact__form-button {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  gap: 40px;
}
.contact__form-button .ui-checkbox .label-text {
  font-size: 12px;
  line-height: 14px;
}
.contact__form-button .ui-checkbox .label-text .label-link {
  color: var(--white);
}

/* contact */
.contact__contacts {
  display: grid;
  grid-template-rows: repeat(3, 149px);
  gap: 6px;
}
.contacts__card {
  background: var(--dark-gray);
  border-radius: 6px;
}
.contacts__card-inner {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__card-name {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: var(--white);
}
.contact__card-link {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--white);
}
.contact__card-link span {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__card-inner .text-explanation {
  margin-top: 6px;
  padding-left: 30px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: var(--white);
}

/* form send */
.contact__form-send {
  height: 100%;
  background: rgba(36, 172, 35, 0.15);
  border: 1px solid var(--green);
  border-radius: 8px;
}
.contact__form-send__inner {
  height: 100%;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.form__send-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__send-text {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--green);
}

@media screen and (max-width: 1080px) {
  .contact__form-button {
    grid-template-columns: 220px 1fr;
  }
}
@media screen and (max-width: 980px) {
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .contact__form-button {
    grid-template-columns: 300px 1fr;
  }
  .contact__form-button .ui-checkbox {
    justify-content: flex-end;
  }
  .contact__contacts {
    width: 100%;
  }
  .form-send .contact__form-inner {
    padding: 0;
  }
  .contact__form-send__inner {
    padding: 60px;
  }
  .contact__form.form-send {
    background: none;
  }
}
@media screen and (max-width: 720px) {
  .contact__wrapper {
    margin-top: 22px;
  }
  .contact__form {
    background: none;
  }
  .contact__form-inner {
    padding: 0;
  }
  .contact__form-inputs {
    gap: 8px;
  }
  .contact__form-inner .input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .contact__form-button {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .contact__contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts__card-inner {
    padding: 24px 16px;
  }
  .contacts__card-name {
    font-size: 18px;
  }
  .contact__card-link {
    margin-top: 16px;
  }
}

@media screen and (max-width: 520px) {
  .contact__wrapper {
    margin-top: 16px;
  }
}
