/* ОБЛОЖКА */
.profile-cover {
  width: 100vw;
  height: 300px;
}
.profile__cover-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../../images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* profile */
.profile {
  margin-top: 20px;
  padding-bottom: 120px;
}
.profile__wrapper {
  display: grid;
  grid-template-columns: 435px 1fr;
  gap: 20px;
}

/* Navbar */
.profile__navbar {
  width: 100%;
  height: 802px;
}
.profile__navbar-inner {
  padding: 0px 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 6px;
  box-shadow: 2px 0 10px 0 rgba(6, 3, 9, 0.05),
    30px 25px 48px 8px rgba(6, 3, 9, 0.1);
  background: rgba(255, 255, 255, 0.03);
}
.profile-img {
  display: flex;
  justify-content: center;
}
.profile-img img {
  width: 212px;
  height: 212px;
  border-radius: 100%;
}
.profile__user-name {
  margin-top: 24px;
  text-align: center;
}
.profile__user-name h2 {
  color: var(--white);
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 18px;
}
.profile__user-name p {
  margin-top: 12px;
  color: var(--white);
  font-size: 13px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.53846;
}
.profile__user-status {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.user-status {
  height: 29px;
  padding: 4px 6px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.75;
  gap: 6px;
  user-select: none;
}
.status-online {
  background: var(--green);
}
.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 1px solid var(--white);
}
.dot-online {
  background: var(--green);
}
.status-free {
  background: var(--red);
}
.profile__user-subscribe {
  margin-top: 16px;
}
.user-subscribe {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  color: var(--black-gray);
  font-weight: 700;
  font-size: 14px;
}
.profile__user-contacts {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.user__contact-button {
  width: 189px;
  height: 48px;
  padding: 12px 20px;
  border: 1px solid var(--white);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 700;
}
.profile__user-description {
  margin-top: 16px;
  padding: 16px 0 20px;
  border-top: 1px solid var(--charcoal-gray);
  border-bottom: 1px solid var(--charcoal-gray);
}
.user-description {
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}
.profile__user-info {
  margin-top: 20px;
}
.user__info-title {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  font-family: "Gilroy";
  line-height: 1.06667;
}
.user__info-content,
.user__game-wrapper {
  margin-top: 16px;
}
.user__info-content {
  display: grid;
  gap: 12px;
}
.user__info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user__info-item p {
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
}
.profile__user-game {
  margin-top: 24px;
}
.user__game-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 48px);
  align-items: center;
  gap: 12px;
}
.user__game-item {
  width: 100%;
  height: 48px;
}
.game-icon {
  width: 100%;
  height: 48px;
  border-radius: 6px;
}

/* profile__content */
.profile__content {
  width: 100%;
  background: var(--dark-gray);
  border-radius: 6px;
}
.profile__content-inner {
  padding: 20px 0;
}

/* navigation */
.profile__navigation-list {
  border-bottom: 1px solid var(--charcoal-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.profile__navigation-item {
  padding: 20px 25px;
  position: relative;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.8;
}
.navigation__item-count {
  position: absolute;
  top: 12px;
  right: 7px;
  color: var(--white);
  font-size: 13px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.5;
  user-select: none;
}
.profile__navigation-item.active {
  background: rgba(183, 53, 188, 0.1);
  border-bottom: 2px solid var(--white);
  font-weight: 800;
  opacity: 1;
}

/* Categories */
.user__categories-inner {
  padding: 20px 20px 0;
}
.user__category-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category-name {
  color: var(--white);
  font-size: 32px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1;
}
.category__block-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category__grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.category__grid-two {
  display: grid;
  grid-template-columns: repeat(2, 240px) 1fr;
  gap: 12px;
}
.category__grid-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.category__card {
  background: var(--black);
  border-radius: 6px;
}
.category__card.subscribers {
  border: 1px solid var(--white);
}
.category__card-inner {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  position: relative;
}
.category__card-more {
  width: 20px;
  height: 20px;
  background: var(--deep-charcoal);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.category__card-subscribers {
  height: 24px;
  padding: 4px 12px;
  border: 1px solid var(--white);
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: 8px;
  color: var(--white);
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
  user-select: none;
}
.category__card-name {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category__card-name h3 {
  padding-bottom: 10px;
  color: var(--white);
  font-size: 26px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
}
.category__card.subscribers .category__card-name {
  border-color: var(--white);
}
.category-red {
  border-bottom: 3px solid var(--light-red);
}
.category-blue {
  border-bottom: 3px solid var(--light-cyan);
}
.category-yellow {
  border-bottom: 3px solid var(--lemon-yellow);
}
.category-green {
  border-bottom: 3px solid var(--mint-green);
}
.category-white {
  border-bottom: 3px solid var(--white);
}
.category-purple {
  border-bottom: 3px solid var(--vivid-purple);
}
.category-violet {
  border-bottom: 3px solid var(--electric-violet);
}
.category-azure {
  border-bottom: 3px solid var(--azure);
}
.category-coral {
  border-bottom: 3px solid var(--coral);
}
.category-lime {
  border-bottom: 3px solid var(--lime-green);
}
.category__card-description {
  margin-top: 20px;
  padding: 0 12px;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.2;
}
.category__card-bottom {
  margin-top: 6px;
  padding: 0 12px;
}
.see-more {
  margin-top: 6px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.2;
}
.see-more span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.category__card-bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}
.category__card-price {
  display: flex;
  align-items: center;
  gap: 6px;
}
.category-price {
  color: var(--white);
  font-size: 24px;
  font-family: "Gilroy";
  font-weight: 600;
  line-height: 1.91667;
}
.category__card-price span {
  font-weight: 400;
  font-size: 17px;
  color: #848199;
}
.category__card-pay {
  height: 46px;
  padding: 11px 16px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
  gap: 8px;
  user-select: none;
}
.category__card-pay span svg {
  width: 14px;
  height: 14px;
}
.category__card-subscribe {
  height: 46px;
  padding: 14px 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
  cursor: default;
  user-select: none;
}

/* Media */
.user__media {
  padding: 20px 20px 0;
}
.user__media-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.user__media-card {
  width: 100%;
}

/* filter: blur(10px); */

.media__card-img {
  width: 100%;
  height: 234px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.media__card-img:hover {
  box-shadow: 0 0 3px 0 var(--magenta);
}
.media__card-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.user__media-card.private .media__card-img img {
  filter: blur(10px);
  pointer-events: none;
}
.private-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.media__card-information {
  margin-top: 17px;
}
.media-name {
  color: var(--white);
  font-size: 17px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.4;
}
.media-info {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.media__info-card {
  height: 25px;
  padding: 4px 7px;
  border-radius: 2px;
  background: var(--dark-blue);
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 12px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 1;
  user-select: none;
  gap: 4px;
}
/* Контент media */
.media__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media__collection-name {
  display: flex;
  align-items: center;
  gap: 24px;
}
.media__collection-name h2 {
  color: var(--white);
  font-size: 28px;
  font-family: "Gilroy";
  font-weight: 400;
}
.media__collection-back {
  height: 40px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid var(--charcoal-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857;
  letter-spacing: 0.02em;
  gap: 6px;
  cursor: pointer;
  user-select: none;
}
.user__media-collection {
  margin-top: 20px;
}
.media__collection-back:hover .goBack-icon {
  transform: translateX(-5px);
  transition: all 0.2s linear;
}
.media-img {
  position: relative;
}
.media-img.media__card-img:hover {
  box-shadow: none;
}
.media__img-see {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.media-img {
  cursor: pointer;
}
.media-img:hover .media__img-see {
  opacity: 1;
}
.media__collection-card.private .media-img:hover .media__img-see {
  opacity: 0;
}
.slider-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 999;
}
.slider-modal.open {
  display: block;
}
.slider {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-main {
  display: flex;
  align-items: center;
  gap: 125px;
}
.slider__main-img {
  width: 750px;
  height: 750px;
}
.slider__main-img img {
  min-width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.slider-thumbnails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media__slider-item {
  margin-top: 20px;
  width: 1340px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.thumbnails::-webkit-scrollbar {
  display: none;
}
.slider-button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-button.right {
  transform: rotate(-180deg);
}
.media__gallery-img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  opacity: 0.4;
  cursor: pointer;
}
.media__gallery-img.active {
  opacity: 1;
}

/* Customer order */
.profile__order-inner {
  padding: 20px 146px 0;
}
.profile__order-form {
  background: var(--black);
  border-radius: 6px;
}
.order__form-inner {
  padding: 20px;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.input__group-price {
  margin-top: 12px;
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.input__group-price .input__wrapper {
  flex-grow: 1;
  width: auto;
}
.input__grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  gap: 24px;
}
.my-balance {
  height: 32px;
  padding: 12px;
  background: rgba(36, 172, 35, 0.15);
  border: 1px solid var(--green);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66667;
  color: var(--white);
}
.inputs-gap {
  margin-top: 12px;
}

/* upload file */
.upload-container {
  height: 126px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fileInput {
  display: none;
}

.upload-label {
  height: 100%;
  padding: 22px 10px;
  border: 1px dashed rgba(211, 211, 211, 0.25);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.upload-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  font-family: "Gilroy";
  text-align: center;
  color: var(--white);
  user-select: none;
}
.upload__text-sm {
  font-size: 13px;
  user-select: auto;
}
.order__form-buttons {
  padding: 20px;
  border-top: 1px solid var(--charcoal-gray);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
.order__form-button {
  height: 50px;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  font-family: "Gilroy";
  line-height: 1.33333;
  text-align: center;
  user-select: none;
}
.order__form-button.cancel {
  background: var(--slate-gray);
  color: var(--white);
}
.order__form-button.confirm {
  background: var(--white);
  color: var(--black);
}

/* Feeds */
.profile__posts {
  padding: 20px 20px 0;
}
.profile__posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile__post-card {
  border-radius: 6px;
  background: var(--black);
}
.post__card-inner {
  padding: 20px;
}
.post__card-head {
  display: flex;
  align-items: center;
  gap: 25px;
}
.post__card-user {
  width: 48px;
  height: 48px;
}
.post__user-img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.post-username {
  font-weight: 600;
  font-size: 16px;
  font-family: "Gilroy";
  line-height: 1.5;
  color: var(--silver);
}
.post-written {
  font-weight: 400;
  font-size: 14px;
  font-family: "Gilroy";
  line-height: 1.5;
  color: var(--dim-gray);
}
.post-content {
  margin-top: 20px;
}
.post__content-text .post-text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Gilroy";
  line-height: 1.4;
  color: var(--white);
}
.post__content-image {
  margin-top: 20px;
  width: 100%;
  height: 658px;
}
.post__image-block {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.post__image-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  z-index: -1;
}
.post__content-image .post-img {
  width: 658px;
  height: 100%;
  border-radius: 6px;
  margin: 0 auto;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.post-img.private {
  filter: blur(10px);
}
.button__private {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.button__private-inner {
  position: relative;
}
.button-private {
  height: 58px;
  padding: 16px 23px;
  border: 1px dashed var(--black);
  box-shadow: 0 0 3px 0 var(--white);
  background: var(--black);
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Gilroy";
  line-height: 1.4;
  color: var(--white);
  cursor: pointer;
}
.button__private-icon {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  box-shadow: 0 0 3px 0 var(--magenta);
}

@media screen and (max-height: 1000px) {
  .slider__main-img {
    width: 660px;
    height: 660px;
  }
}
