/* ОБЛОЖКА */
.profile-cover {
  width: 100vw;
  height: 300px;
}
.profile__cover-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../../images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* profile */
.profile {
  margin-top: 20px;
}
.profile__wrapper {
  display: grid;
  grid-template-columns: 435px 1fr;
  gap: 20px;
}

/* Navbar */
.profile__navbar {
  width: 100%;
  height: 674px;
}
.profile__navbar-inner {
  padding: 0px 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 6px;
  box-shadow: 2px 0 10px 0 rgba(6, 3, 9, 0.05),
    30px 25px 48px 8px rgba(6, 3, 9, 0.1);
  background: rgba(255, 255, 255, 0.03);
}
.profile-img {
  display: flex;
  justify-content: center;
}
.profile-img img {
  width: 212px;
  height: 212px;
  border-radius: 100%;
}
.profile__user-name {
  margin-top: 24px;
  text-align: center;
}
.profile__user-name h2 {
  color: var(--white);
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 18px;
}
.profile__user-name p {
  margin-top: 12px;
  color: var(--white);
  font-size: 13px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.53846;
}
.profile__user-status {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.user-status {
  height: 29px;
  padding: 4px 6px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.75;
  gap: 6px;
  user-select: none;
}
.status-online {
  background: var(--green);
}
.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 1px solid var(--white);
}
.dot-online {
  background: var(--green);
}
.status-free {
  background: var(--red);
}
.profile__user-description {
  margin-top: 16px;
  padding: 16px 0 20px;
  border-top: 1px solid var(--charcoal-gray);
  border-bottom: 1px solid var(--charcoal-gray);
}
.user-description {
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}
.profile__user-info {
  margin-top: 20px;
}
.user__info-title {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  font-family: "Gilroy";
  line-height: 1.06667;
}
.user__info-content,
.user__game-wrapper {
  margin-top: 16px;
}
.user__info-content {
  display: grid;
  gap: 12px;
}
.user__info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user__info-item p {
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
}
.profile__user-game {
  margin-top: 24px;
}
.user__game-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 48px);
  align-items: center;
  gap: 12px;
}
.user__game-item {
  width: 100%;
  height: 48px;
}
.game-icon {
  width: 100%;
  height: 48px;
  border-radius: 6px;
}

/* profile__content */
.profile__content {
  width: 100%;
  background: var(--dark-gray);
  border-radius: 6px;
}
.profile__content-inner {
  padding: 20px 0;
}

/* navigation */
.profile__navigation-list {
  border-bottom: 1px solid var(--charcoal-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.profile__navigation-item {
  padding: 20px 25px;
  position: relative;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.8;
}
.navigation__item-count {
  position: absolute;
  top: 12px;
  right: 7px;
  color: var(--white);
  font-size: 13px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.5;
}
.profile__navigation-item.active {
  background: rgba(183, 53, 188, 0.1);
  border-bottom: 2px solid var(--white);
  font-weight: 800;
  opacity: 1;
}

/* Categories */
.user__categories-inner {
  padding: 20px 20px 0;
}
.user__category-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category-name {
  color: var(--white);
  font-size: 32px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1;
}
.category__block-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category__grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.category__grid-two {
  display: grid;
  grid-template-columns: repeat(2, 240px) 1fr;
  gap: 12px;
}
.category__grid-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.category__card {
  background: var(--black);
  border-radius: 6px;
}
.category__card.subscribers {
  border: 1px solid var(--white);
}
.category__card-inner {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  position: relative;
}
.category__card-more {
  width: 20px;
  height: 20px;
  background: var(--deep-charcoal);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.category__card-subscribers {
  height: 24px;
  padding: 4px 12px;
  border: 1px solid var(--white);
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: 8px;
  color: var(--white);
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
  user-select: none;
}
.category__card-name {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category__card-name h3 {
  padding-bottom: 10px;
  color: var(--white);
  font-size: 26px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
}
.category__card.subscribers .category__card-name {
  border-color: var(--white);
}
.category-red {
  border-bottom: 3px solid var(--light-red);
}
.category-blue {
  border-bottom: 3px solid var(--light-cyan);
}
.category-yellow {
  border-bottom: 3px solid var(--lemon-yellow);
}
.category-green {
  border-bottom: 3px solid var(--mint-green);
}
.category-white {
  border-bottom: 3px solid var(--white);
}
.category-purple {
  border-bottom: 3px solid var(--vivid-purple);
}
.category-violet {
  border-bottom: 3px solid var(--electric-violet);
}
.category-azure {
  border-bottom: 3px solid var(--azure);
}
.category-coral {
  border-bottom: 3px solid var(--coral);
}
.category-lime {
  border-bottom: 3px solid var(--lime-green);
}
.category__card-description {
  margin-top: 20px;
  padding: 0 12px;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.2;
}
.category__card-bottom {
  margin-top: 6px;
  padding: 0 12px;
}
.see-more {
  margin-top: 6px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.2;
}
.see-more span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.category__card-bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}
.category__card-price {
  display: flex;
  align-items: center;
  gap: 6px;
}
.category-price {
  color: var(--white);
  font-size: 24px;
  font-family: "Gilroy";
  font-weight: 600;
  line-height: 1.91667;
}
.category__card-price span {
  font-weight: 400;
  font-size: 17px;
  color: #848199;
}
.category__card-pay {
  height: 46px;
  padding: 11px 16px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
  gap: 8px;
  user-select: none;
}
.category__card-pay span svg {
  width: 14px;
  height: 14px;
}
.category__card-subscribe {
  height: 46px;
  padding: 14px 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1.2;
  cursor: default;
  user-select: none;
}
