.authorization {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.authorization__wrapper {
  width: 648px;
  height: 100vh;
  background: var(--white);
  overflow-x: auto;
  white-space: nowrap;
}
.authorization__block {
  height: 100%;
}
.authorization__block-home {
  padding: 100px 50px;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 100px;
}
.authorization__block-inner {
  padding: 100px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 100px; */
}
.authorization__block-forgot {
  display: block;
}
.authorization__logo {
  text-align: center;
}
.authorization-name {
  text-align: center;
  color: var(--black);
  font-size: 40px;
  font-family: "Gilroy";
  font-weight: 600;
  line-height: 28px;
}
.authorization-content {
  max-width: 548px;
  margin: 0 auto;
  margin-top: 30px;
}
.authorization__forgot-content {
  margin-top: 40px;
}
.authorization__message {
  margin-top: 40px;
  text-align: center;
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.authorization__message-link {
  color: var(--blue);
  font-weight: 600;
}

.authorization__content {
  width: 100%;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-block {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.form-button {
  margin-top: 16px;
}
.block-or {
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.line {
  width: 100%;
  height: 1px;
  background: var(--gray-line);
}
.or-name {
  padding: 0 16px;
  color: var(--808080);
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 8px;
}

.auth-social {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-checkboxes {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* Восстановление пароля */
.forgot-block {
  max-width: 456px;
  margin: 0 auto;
}

.forgot-pass {
  text-align: center;
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
  line-height: 17px;
}
.forgot-description {
  margin-top: 24px;
  text-align: center;
  color: var(--dark-blue);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

/* Вернуться назад */
.come-back__block {
  margin-top: 36px;
}

/*  */
.forgot__block-message {
  margin-top: 100px;
  width: 100%;
  border: 1px solid rgba(42, 43, 57, 0.1);
  border-radius: 8px;
}
.forgot__block-message__inner {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.forgot__message-text {
  text-align: center;
  color: var(--515151);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.4;
}
.auth-bg {
  flex: 1;
  height: 100vh;
  background-image: url('../../../images/auth-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1320px) {
  .authorization__wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .authorization__wrapper {
    width: 100%;
  }
  .authorization__block-inner,
  .authorization__block-home {
    padding: 30px 15px;
    gap: 0;
  }
  .authorization-content {
    margin-top: 24px;
  }
  .authorization__logo svg {
    width: 130px;
    height: 38px;
  }
  .authorization-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 17px;
  }
  .form-inputs {
    gap: 8px;
  }
  .block-or,
  .auth-social,
  .authorization__message-m {
    margin-top: 24px;
  }
  .auth-social {
    gap: 16px;
  }
  .form-checkboxes {
    margin-top: 24px;
    gap: 12px;
  }
  .input-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  /* Вернуться назад */
  .come-back__block {
    margin-top: 90px;
  }

  /*  */
  .authorization__block-forgot {
    display: flex;
    justify-content: space-between;
  }
  .forgot__block-message {
    margin-top: 0;
  }
  .forgot__block-message__inner {
    padding: 40px;
  }
}
