.video-call {
  padding-bottom: 30px;
}
.video-call__chat-open {
  display: flex;
  padding-bottom: 0;
}
.video-call__wrapper {
  position: relative;
}
.video__wrapper {
  position: relative;
}
.video__wrapper-xl {
  display: flex;
  align-items: center;
  gap: 50px;
}
.video__wrapper-xl {
  display: flex;
  align-items: center;
  gap: 50px;
}
/* head */
.video-call__head {
  width: 100%;
  border-bottom: 1px solid var(--dusty-blue);
}
.video-call__head-inner {
  padding: 50px 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-call-info {
  display: flex;
  align-items: center;
  gap: 24px;
}
.video-call_come-back {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
  gap: 21px;
}
.video-call_come-back span {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-call__time {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  text-align: right;
  color: var(--white);
}
.video-call__extend {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
  gap: 8px;
}
/* chat */
.video-call__users {
  margin-top: 110px;
}
.video-call__users-lg {
  margin-top: 40px;
}
/* chat container */
.vide__container-lg {
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 20px;
}
.vide__container-xl {
  max-width: 1692px;
  margin: 0 auto;
  padding: 0 20px;
}
/*  */
.video-call__users-wrapper-lg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.video-call__users-wrapper-xl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
}
.video-call__users-wrapper-md {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
}
/* card */
.video-card {
  width: 100%;
  position: relative;
  border-radius: 6px;
  background: #3e3e3e;
  border: 1px solid var(--dark);
}
.video__card-big {
  grid-column: 1 / 2 span;
  grid-row: 1 / 2 span;
}
.video__card-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video__card-buttons {
  height: 40px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 360px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  gap: 14px;
}
.video__card-btn svg {
  width: 24px;
  height: 24px;
}
.video__card-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video__card-video img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.video__card-video.video-block {
  width: 220px;
  height: 220px;
  border-radius: 100%;
}
/*  */
.video__card-action__btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.action-button {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.action-button.green {
  background: var(--vivid-green);
}
.action-button.red {
  background: var(--bright-red);
}

/* chat button */
.vide-call__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.video-call__wrapper-xl .vide-call__buttons {
  margin-top: 105px;
}
.video__buttons-inner {
  display: flex;
  align-items: center;
  gap: 24px;
}
.video-button {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-button.leave-button {
  width: 73px;
  height: 63px;
  border-radius: 12px;
  background: var(--bright-red);
}
.video-button.chat-open {
  background: rgba(255, 255, 255, 0.52);
}
.video-button.chat-open .icon {
  filter: brightness(0) invert(1);
  opacity: 1;
}
/* sound */
.video-call__sound {
  width: 47px;
  height: 143px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.52);
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 99;
}
.video-call__sound .sound {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.video-call__sound .sound__track {
  position: relative;
  width: 4px;
  height: 87px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 30px;
  overflow: hidden;
}
.video-call__sound .sound__level {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: var(--light-steel);
  border-radius: 30px;
}
.video-call__sound .sound__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* others user */
.others-users__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.video__other-users.chat-open {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.other-user__card {
  width: 85px;
  height: 85px;
  border-radius: 6px;
  border: 1px solid var(--white);
  position: relative;
}
.other-user__card .video__card-buttons {
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.other-user__card .user-video,
.other-user__card .user-video .user__video {
  width: 100%;
  height: 100%;
}

.other-user__card .video__card-action__btn {
  bottom: 6px;
  right: 6px;
}
.other-user__card .video__card-action__btn .action-button {
  width: 22px;
  height: 22px;
}
.other-user__card .video__card-action__btn .action-button.green svg {
  width: 14px;
  height: 12px;
}
.other-user__card .video__card-action__btn .action-button.red svg {
  width: 11px;
  height: 11px;
}

/* video background */
.video__background {
  width: 380px;
  height: 310px;
  position: fixed;
  bottom: 79px;
  right: 115px;
  border-radius: 6px;
  border: 1px solid var(--white);
}
.video__background:hover .video-chat__block-open {
  opacity: 1;
  pointer-events: all;
}
.video__background:hover .video-close .icon-close {
  filter: brightness(0) invert(1);
}
.video__background-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.video-close {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 4;
  transition: filter 0.3s ease;
}
.video__background-content {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.video__background-content img {
  width: 100%;
  height: 100%;
  position: relative;
}
.video__background .vide-call__buttons {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
  z-index: 4;
}

.video__background .vide-call__buttons .video__button-black {
  backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0.52);
}
.video-chat__block-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.video-chat__message {
  padding: 8px 16px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: var(--white);
  gap: 10px;
}

/* chat */
.video-call_chat {
  min-width: 490px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-left: 1px solid var(--dusty-blue);
}
.chat__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.chat__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.chat__messages {
  border-left: 1px solid var(--dusty-blue);
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.chat__messages-wrapper {
  flex: 1;
  overflow-y: auto;
  /* padding: 20px; */
}
.chat__head {
  border-bottom: 1px solid var(--dusty-blue);
}
.chat__head-inner {
  padding: 56px 24px 31px;
}
.chat__head-inner h2 {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
}
/* chat */
.chat__messages-message {
  padding: 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}
.chat__messages-message::-webkit-scrollbar {
  width: 1px;
}

.chat__messages-message::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
}

/* Для Firefox */
.chat__messages-message {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-gray) transparent;
}

@-ms-viewport {
  width: 1px;
  background-color: var(--dark-gray);
}

.chat__messages-message::-ms-scrollbar {
  width: 1px;
}

.chat__messages-message::-ms-scrollbar-thumb {
  background-color: var(--dark-gray);
}
/* chat message */
.chat__message {
  padding: 12px 24px;
}
.chat__message-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.message-data {
  display: flex;
  align-items: center;
  gap: 8px;
}
.message__user-img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid var(--white);
}
.message__user-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* message__user-data */
.message__user-data .message-username {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: var(--white);
}
.message__user-data .message-text {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--white);
  opacity: 0.8;
}
.message__user-data .message__text-bold {
  font-weight: 500;
  opacity: 1;
}
/* message-info */
.message-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.message__info-date {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--white);
  opacity: 0.8;
}

/* chat__message-contents */
.chat__message-contents {
  margin-top: 8px;
  padding-left: 40px;
}
.chat__message-contents .chat__content-img {
  width: 280px;
  height: 280px;
  border-radius: 6px;
}
.chat__send-message {
  border-top: 1px solid var(--dark-charcoal);
}
.send__message-inner {
  padding: 12px 8px;
  display: grid;
  grid-template-columns: 72px 1fr 88px;
  align-items: center;
  gap: 8px;
}
.send__message-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.message-button.upload-button,
.message-button.icon-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-button.voice-button,
.message-button.send-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* input */
.write-message {
  width: 100%;
}
.write-message__input {
  width: 100%;
  background: none;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
}
.write-message__input::placeholder {
  user-select: none;
}
