.rent-time {
  padding-bottom: 80px;
}
.rent-time__wrapper {
  padding: 20px;
  border-radius: 6px;
  background: var(--dark-gray);
  display: grid;
  gap: 20px;
}
.rent-time__wrapper .user__category-block {
  gap: 0;
}

.category__card-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rent-time__save {
  width: 100%;
  height: 90px;
  box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.15);
  background: var(--black);
  position: fixed;
  left: 0;
  bottom: 0;
}
.rent-time__save-inner {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-button {
  display: flex;
  align-items: center;
  gap: 16px;
}
.rent-time__btn {
  width: 242px;
}
