.subscribe-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscribe-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.subscribe-buttons .ui-button {
  padding: 10px 45px;
  height: 51px;
}
.subscribe-info {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.subscribe__info-number {
  display: flex;
  align-items: center;
  gap: 32px;
}
.number__item-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  color: var(--white);
  font-family: "Inter";
  opacity: 0.5;
}
.number__item-num {
  margin-top: 24px;
  font-weight: 600;
  font-size: 48px;
  color: var(--white);
  font-family: "Gilroy";
  line-height: 34px;
}
.number__item-num.green {
  color: var(--green);
}
.number__item-num.red {
  color: var(--red);
}
.subscribe__prices {
  margin-top: 40px;
}
.subscribe__prices-wrapper {
  display: grid;
  grid-template-columns: 181px 51px 292px;
  align-items: flex-end;
  gap: 24px;
}
.subscribe__prices-wrapper .input__wrapper .input-label {
  opacity: 0.5;
}

.subscribe__prices-wrapper .input__wrapper .ui-input {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: none;
  font-weight: 600;
  font-size: 26px;
  color: var(--white);
}
.subscribe__prices-wrapper .input-wrapper {
  position: relative;
}
.input__prices-apply {
  padding-right: 60px;
}
.prices-apply {
  width: 56px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #4d4d4d;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.apply-subscribers {
  height: 51px;
  padding: 13px 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}
.apply-subscribers span {
  display: flex;
}
.apply-subscribers p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--white);
  opacity: 0.5;
}
.subscribe__table {
  margin-top: 40px;
}
.subscribe__table-head {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 208px 176px 157px 180px 175px auto;
  align-items: center;
  border-radius: 6px 6px 0 0;
  background: var(--graphite);
}
.table__head-item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: "Poppins", "Inter";
  font-size: 12px;
  line-height: 1.33333;

  color: var(--white);
  gap: 6px;
}
.table__head-item.item-actions {
  padding-right: 20px;
  justify-content: flex-end;
}
.item-actions {
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.item-actions .icon {
  display: flex;
}
.table__head-item .checkbox-wrapper {
  margin-right: 6px;
}
.table__main {
  border-left: 1px solid var(--graphite);
  border-bottom: 1px solid var(--graphite);
  border-right: 1px solid var(--graphite);
  border-radius: 0 0 6px 6px;
}
.table__main-col {
  border-bottom: 1px solid var(--graphite);
  display: grid;
  grid-template-columns: 208px 176px 157px 180px 175px auto;
  align-items: center;
}
.table__main-col.border-b {
  border-bottom: none;
}
.main__col-item {
  height: 100%;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--graphite);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: var(--white);
  font-family: "Gilroy";
  gap: 8px;
}
.table__main-col .item-status {
  height: 26px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Gilroy";
  line-height: 1.4;
}
.main__col-item .item-status.status-completed {
  background: rgba(255, 63, 51, 0.1);
  color: var(--red);
}
.main__col-item .item-status.status-active {
  background: rgba(36, 172, 35, 0.1);
  color: var(--green);
}
.table__main-col .item-actions {
  padding: 0 20px;
  text-align: end;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.table__main-col .item__actions-unlock {
  color: var(--white);
}

.input-wrapper-subscribe {
  width: 292px;
}
.input-wrapper-subscribe input {
  display: flex;
  align-items: center;
}
.select-services {
  width: 150px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  font-weight: 400;
}
.select-services svg {
  transform: rotate(90deg);
  opacity: 0.5;
}
.popups-item  {
  display: flex;
  align-items: center;
  gap: 12px;
}
.subscribe__prices .popups-items {
  display: none;
}
.subscribe__prices .popups-items.active {
  display: block;
}
.button-content {
  display: flex;
  align-items: center;
  gap: 4px;
}
.button-content .active {
  font-size: 12px;
  color: var(--white);
}
.button-content-count {
  width: 22px;
  height: 22px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4971FF;
  color: var(--white);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.15;
}
.apply-subscribers .text {
  display: none;
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  line-height: 1.4;
}
.subscribe__prices-sort {
  margin-top: 18px;
  display: none;
}
.subscribe__prices-sort .sort__popup-block {
  justify-content: space-between;
}
.main__col-item .tit {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  opacity: 0.5;
  color: var(--white);
}
.select-all {
  margin-top: 16px;
  display: none;
  gap: 12px;
  align-items: center;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33333;
}

@media screen and (max-width: 1140px) {
  .subscribe__table-head {
    grid-template-columns: 170px 140px 150px 141px 150px auto;
  }
  .table__head-item {
    padding: 0 10px;
    font-size: 11px;
  }
  .table__main-col {
    grid-template-columns: 170px 140px 150px 141px 150px auto;
  }
  .subscribe__table {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1020px) {
  .subscribe-info,
  .subscribe__prices {
    margin-top: 32px;
  }
  .subscribe__info-number {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }
  .subscribe__number-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .number__item-num {
    margin-top: 0;
  }
  .subscribe-info {
    flex-direction: column;
  }
  .sort-date {
    width: 100%;
    justify-content: flex-start;
    margin-top: 32px;
  }

  /* таблица */
  .subscribe__table {
    margin-top: 16px;
  }
  .table__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe__table-head {
    display: none;
  }
  .table__main-col {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    column-gap: 12px;
  }
  .table__main .icon svg {
    width: 20px;
    height: 20px;
  }
  .table__main-col.unlock {
    background: rgba(36, 172, 35, 0.1);
  }
  .table__main-col.block {
    background: rgba(255, 63, 51, 0.1);
  }
  .main__col-item {
    border: none;
    padding: 0;
  }
  .main__col-item .tit {
    display: flex;
  }
  .item-actions {
    border: none;
  }
  .table__main {
    border: none;
  }
  .main__col-item.date {
    grid-column: span 3;
    justify-content: flex-end;
  }
  .main__col-item.shop {
    grid-column: 1 / 1 span;

  }
  .main__col-item.spent {
    grid-column: 2 / 3 span;
  }
  .main__col-item.status {
    grid-row: 3;
    grid-column: 1 / 2 span;
  }
  .table__main-col .item-actions {
    grid-column: 2 span;
    padding: 0;
    gap: 4px;
  }
  .table__main-col.border-r {
    border-right: 1px solid var(--graphite);
  }
  .select-all {
    display: flex;
  }
  .table__main {
    margin-top: 16px;
  }
}

@media screen and (max-width: 830px) {
  .subscribe-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .subscribe-buttons {
    gap: 16px;
  }
  .number__item-name {
    font-size: 14px
  }
  .number__item-num {
    font-size: 32px;
  }
}

@media screen and (max-width: 760px) {
  /*  */
  .apply-subscribers {
    display: none;
  }

  .subscribe__prices-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .apply-subscribers {
    width: 100%;
  }
  .input-wrapper-subscribe {
    width: 100%;
  }
  .apply-subscribers .text {
    display: block;
  }
  .input-price {
    text-align: center;
  }
  .select-services {
    width: 240px;
  }
  .subscribe__prices-sort {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .table__main {
    display: grid;
    grid-template-columns: auto;
  }
  .table__main-col.border-r {
    border-right: none;
  }
}

@media screen and (max-width: 520px) {
  .subscribe-buttons {
    width: 100%;
  }
  .number__item-num {
    font-size: 24px;
  }
  .sort-date {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .ui-button {
    padding: 0 !important;
    font-size: 18px;
  }
  .ui-input {
    height: 51px !important;
  }
  .select-services {
    width: 180px;
  }
}