<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>

    <link rel="stylesheet" href="../assets/styles/styles.css" />
    <link rel="stylesheet" href="../assets/styles/components/header.css" />
    <link
      rel="stylesheet"
      href="../assets/styles/components/notifications/notification.css"
    />
  </head>
  <body>
    <div class="app">
      <div class="notification">
        <div class="notification__wrapper">
          <div class="notification__head">
            <div class="notification__head-inner">
              <p class="notification-title">Уведомления</p>
              <button class="notification__read-all">Прочитать все</button>
            </div>
          </div>
          <div class="notification__content">
            <div class="notification__content-inner">
              <!-- 1 -->
              <div class="notification__item">
                <div class="notification__item-head">
                  <img
                    class="notification__user-img"
                    src="../assets/images/user.png"
                    alt="user"
                  />
                  <div class="notification__item-info">
                    <div class="notification__item-text">
                      <a href="#">@MoraruV</a> создал запрос на сеанс в
                      <b>2 часа</b>
                    </div>
                    <div class="notification__item-get">
                      <div class="notification-time">1 минут назад</div>
                      <span class="notification-dot"></span>
                      <div class="notification-category">Just chating</div>
                    </div>
                  </div>
                  <div class="notification__item-status"></div>
                </div>
                <div class="notification__item-content">
                  <div class="notification__item-button">
                    <button class="notification-button cancel">
                      Отклонить
                    </button>
                    <button class="notification-button accept">Принять</button>
                  </div>
                </div>
              </div>
              <!-- 2 -->
              <div class="notification__item border-n">
                <div class="notification__item-head">
                  <img
                    class="notification__user-img"
                    src="../assets/images/user.png"
                    alt="user"
                  />
                  <div class="notification__item-info">
                    <div class="notification__item-text">
                      <a href="#">@MoraruV</a> создал запрос на сеанс в
                      <b>2 часа</b>
                    </div>
                    <div class="notification__item-get">
                      <div class="notification-time">1 минут назад</div>
                      <span class="notification-dot"></span>
                      <div class="notification-category">Just chating</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <header class="header header-l header-big-l">
        <div class="container-xl">
          <div class="header__wrapper">
            <a href="#" class="header-logo">
              <svg width="80" height="49">
                <use href="../assets/icon/icons.svg#logo-eye"></use>
              </svg>
            </a>
            <a href="#" class="header__mobile-logo">
              <svg width="180" height="54">
                <use href="../assets/icon/icons.svg#logo_white"></use>
              </svg>
            </a>
            <div class="header__left">
              <a href="#" class="header-logo-eye">
                <svg width="80" height="49">
                  <use href="../assets/icon/icons.svg#logo-eye"></use>
                </svg>
              </a>
              <!--  -->
              <div class="header__buttons">
                <!-- Уведомления -->
                <button class="header__buttons-btn">
                  <div class="notification-count">12</div>
                  <span>
                    <svg width="18" height="20">
                      <use href="../assets/icon/icons.svg#notification"></use>
                    </svg>
                  </span>
                  <div class="header__buttons-arrow"></div>
                </button>
                <!-- Язык -->
                <button class="header__buttons-btn">
                  <span class="lang">
                    <svg width="28" height="20">
                      <use href="../assets/icon/icons.svg#russia"></use>
                    </svg>
                  </span>
                  <div class="header__buttons-arrow"></div>
                </button>
                <!-- Настройки -->
                <a
                  href="../pages/profileSetting/profile.html"
                  class="header__buttons-btn"
                >
                  <span>
                    <svg width="20" height="20">
                      <use href="../assets/icon/icons.svg#setting"></use>
                    </svg>
                  </span>
                </a>
                <button class="header__buttons-btn header__button-menu">
                  <svg width="24" height="24">
                    <use href="../assets/icon/icons.svg#menu"></use>
                  </svg>
                </button>
              </div>
            </div>
            <!--  -->
            <nav class="header__naw">
              <ul class="header__naw-list">
                <li class="header__list-item">
                  <a href="../pages/profile/myProfile/feeds.html">Feeds</a>
                </li>
                <li class="header__list-item">
                  <a href="../pages/MySubscribers/subscribers.html"
                    >My E-girls</a
                  >
                </li>
                <li class="header__list-item header__list-item__logo">
                  <a href="#">
                    <svg width="220" height="32">
                      <use href="../assets/icon/icons.svg#logo-text"></use>
                    </svg>
                  </a>
                </li>
                <li class="header__list-item">
                  <a href="../pages/MyContent/myContent.html">My Сontent</a>
                </li>
                <li class="header__list-item">
                  <a href="../pages/Orders/orders.html">Orders</a>
                </li>
              </ul>
            </nav>
            <div class="header__user-info">
              <!-- БАЛАНС -->
              <a href="../pages/balance/finance.html" class="user-balance">
                <span class="balance-h">$12 310</span>
              </a>
              <!-- УВЕДОМЛЕНИЯ -->
              <button href="#" class="header__buttons-btn header__notif-btn">
                <div class="notification-count">12</div>
                <span>
                  <svg width="18" height="20">
                    <use href="../assets/icon/icons.svg#notification"></use>
                  </svg>
                </span>
                <div class="header__buttons-arrow"></div>
              </button>
              <!-- ПОЛЬЗОВАТЕЛЬ -->
              <div class="user">
                <div class="user-img">
                  <img src="../assets/images/user.png" alt="user" />
                </div>
                <div class="user-name">@MoraruV</div>
              </div>
              <!-- МЕНЮ -->
              <button class="header__buttons-btn header__notif-btn">
                <svg width="24" height="24">
                  <use href="../assets/icon/icons.svg#menu"></use>
                </svg>
              </button>
            </div>
            <div class="header__buttons">
              <!-- Уведомления -->
              <button class="header__buttons-btn">
                <div class="notification-count">12</div>
                <span>
                  <svg width="18" height="20">
                    <use href="../assets/icon/icons.svg#notification"></use>
                  </svg>
                </span>
                <div class="header__buttons-arrow"></div>
              </button>
              <!-- Язык -->
              <button class="header__buttons-btn">
                <span class="lang">
                  <svg width="28" height="20">
                    <use href="../assets/icon/icons.svg#russia"></use>
                  </svg>
                </span>
                <div class="header__buttons-arrow"></div>
              </button>
              <!-- Настройки -->
              <a
                href="../pages/profileSetting/profile.html"
                class="header__buttons-btn"
              >
                <span>
                  <svg width="20" height="20">
                    <use href="../assets/icon/icons.svg#setting"></use>
                  </svg>
                </span>
              </a>
              <button class="header__buttons-btn header__button-menu">
                <svg width="24" height="24">
                  <use href="../assets/icon/icons.svg#menu"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
