.tinder {
  margin-top: 65px;
  padding-left: 100px;
  padding-bottom: 52px;
}
.tinder__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tinder__content {
  width: 100%;
  height: 850px;
  border-radius: 6px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  /* overflow: hidden; */
}
.tinder__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  z-index: -1;
}
.tinder__content-inner {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tinder__block-content {
  width: 680px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.tinder__block-content .tinder__content-img {
  width: 100%;
  height: 100%;
}

/* follow */
.tinder__content-button {
  margin-bottom: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tinder-follow {
  width: 196px;
  height: 41px;
  padding: 12px 77px;
  border: 1px solid var(--white);
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.5);
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  transition: all 0.3s ease-in;
  box-sizing: border-box;
}
.tinder-follow.follow:hover {
  background: var(--white);
  color: var(--black);
}
.tinder-follow.followed {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(36, 172, 35, 0.5);
  border-color: var(--green);
  gap: 10px;
}
.tinder__content-scroll {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.scroll-dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  border: 1px solid var(--white);
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.scroll-dot.not-viewed {
  background: var(--hot-pink);
}
.tinder__content-scroll .scroll-dot.dot-border {
  width: 16px;
  height: 16px;
  background: none;
  position: relative;
}
.tinder__content-scroll .scroll-dot.dot-border::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* head */
.tinder__content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
.tinder__content-head.mobile {
  display: none;
}
.tinder-user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tinder-user .tinder__user-img {
  width: 52px;
  height: 52px;
  border-radius: 100%;
}
.tinder__content-head .tinder__username h2 {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.tinder__content-head .tinder__username .username {
  display: flex;
  align-items: center;
  gap: 2px;
}
.tinder__content-head .tinder__username .username a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.tinder-setting {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.15);
}

/*  */
.tinder__next-button {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}
.tinder__next-btn:disabled {
  opacity: 0.5;
}
.tinder__next-btn {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tinder__next-button .tinder__next-btn.button-next {
  transform: rotate(180deg);
}

/* my games */
.tinder__games-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  line-height: 1.06667;
  color: var(--white);
}
.tinder__games-block {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 12px;
}

/*  */
.tinder__scroll-button {
  display: flex;

  flex-direction: column;
  gap: 12px;
}
.scroll-button {
  width: 74px;
  height: 74px;
  border-radius: 100px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-button.button-bottom {
  transform: rotate(-180deg);
}
.games.hide {
  padding: 0;
}
.games {
  width: 176px;
  padding: 16px 0;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.games-button {
  width: 100%;
  padding-bottom: 0;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.06667;
  color: var(--white);
}
.games.hide .games-button {
  padding: 8px;
}
.games.hide .games-button span {
  display: flex;
}
.games-button span {
  display: none;
}
.games.hide .games-list{
  display: none;
}
.games-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.verified-account {
  display: flex;
}

@media screen and (max-width: 920px) {
  .tinder {
    margin-top: 16px;
    padding-left: 0;
  }
  .tinder .container-lg {
    padding: 0;
  }
  .tinder__content-head {
    display: none;
  }
  .tinder__content-head.mobile {
    display: flex;
    width: 100%;
    padding: 0 15px;
  }
  .tinder__wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .tinder__scroll-button {
    flex-direction: row;
  }
  .tinder-setting {
    width: 32px;
    height: 32px;
  }
  .tinder-setting svg {
    width: 24px;
    height: 24px;
  }
  .tinder__user-img {
    width: 42px;
    height: 42px;
  }
  .tinder-user {
    gap: 12px;
  }
  .scroll-button.button-top svg{
    transform: rotate(-90deg);
  }
  .scroll-button.button-bottom svg{
    transform: rotate(270deg);
  }
  .games.hide {
    width: 176px !important;
  }
  .games {
    width: 100%;
  }
  .games-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 780px) {
  .tinder {
    padding-bottom: 120px;
  }
  .tinder__content-inner {
    padding: 13px 15px;
  }
  .scroll-button {
    width: 60px;
    height: 60px;
  }
  /* .scroll-button svg {
    width: 16px;
    height: 16px;
  } */
  .tinder__block-content {
    width: 100%;
  }
  .tinder__next-button {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .scroll-button {
    width: 40px;
    height: 40px;
  }
  .scroll-button svg {
    width: 16px;
    height: 16px;
  }
}