.notification {
  width: 333px;
  position: fixed;
  top: 140px;
  right: 50px;
  background: var(--dark-gray);
  box-shadow: 0 13px 27px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.notification__inner {
  padding: 12px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 15px;
}
.notification-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.55px solid #f4f5f520;
  border-radius: 2px;
}
.notification__message .message {
  color: var(--white);
  font-size: 17px;
  font-family: "Onest";
  font-weight: 500;
  line-height: 1.35294;
}
.notification-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 1060px) {
  .notification {
    width: 300px;
    top: 120px;
  }
  .notification__inner {
    padding: 8px;
    gap: 14px;
  }
  .notification-icon {
    width: 32px;
    height: 32px;
  }
  .notification-icon svg {
    width: 16px;
  }
  .notification__message .message {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .notification {
    width: 300px;
    top: 100px;
  }
}

@media screen and (max-width: 540px) {
  .notification {
    width: 280px;
    top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .notification {
    width: 260px;
    top: 80px;
    right: 15px;
  }
  .notification__inner {
    gap: 10px;
  }
  .notification-icon {
    width: 28px;
    height: 28px;
  }
  .notification-icon svg {
    width: 14px;
  }
  .notification__message .message {
    font-size: 12px;
  }
}
