.calendar {
  display: none;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.calendar.active {
  display: flex;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

#current-month {
  font-size: 16px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 5px;
}

.days-of-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.days-of-month li {
  width: calc(100% / 7 - 4px);
  margin: 2px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.days-of-month li.selected {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
}
