html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  display: block;
  overflow-x: hidden;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  white-space: normal;
  word-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}

input,
textarea {
  padding: 0;
  border: none;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
