:root {
  --white: #ffffff;
  --black: #111111;
  --dark-blue: #2a2b39;
  --red: #ff3f33;
  --dark-red: #3b0a0d;
  --gray: #d6d6d6;
  --icon: #9da2ad;
  --green: #24ac23;
  --girl: #ffd2d9;
  --men: #d2ecff;
  --f5f5f5: #f5f5f5;
  --blue: #6684f9;
  --gray-line: #b2b2b2;
  --808080: #808080;
  --discord-color: #5865f2;
  --google-bg: #ededed;
}
