:root {
  --white: #ffffff;
  --black: #111111;
  --dark-blue: #2a2b39;
  --red: #ff3f33;
  --dark-red: #3b0a0d;
  --gray: #d6d6d6;
  --icon: #9da2ad;
  --green: #24ac23;
  --girl: #ffd2d9;
  --men: #d2ecff;
  --f5f5f5: #f5f5f5;
  --blue: #6684f9;
  --gray-line: #b2b2b2;
  --808080: #808080;
  --discord-color: #5865f2;
  --google-bg: #ededed;
  --label-text: #696d70;
  --515151: #515151;
  --dark-gray: #1d1d1d;
  --dark-slate: #212c32;
  --dark-charcoal: #262626;
  --bright-green: #06e401;
  --light-gray: #d9d9d9;
  --light-blue-gray: #b9bfcf;
  --vibrant-orange: #fb5a00;
  --bright-orange: #ff6915;
  --medium-gray: #b0b0b0;
  --charcoal-gray: #3a3a3a;
  --amber: #e49701;
  --deep-charcoal: #201c1c;
  --mint-green: #51ffa1;
  --light-red: #ff5151;
  --light-cyan: #51e0ff;
  --lemon-yellow: #fcff51;
  --vivid-purple: #e751ff;
  --electric-violet: #7e51ff;
  --azure: #516dff;
  --coral: #ff8f51;
  --lime-green: #9dff51;
  --black-gray: #181818;
  --magenta: #b735bc;
  --slate-gray: #2a2b2e;
  --silver: #d0d0d0;
  --dim-gray: #696969;
}
