@import "./reset.css";
@import "./fonts.css";
@import "./root.css";
@import "./ui.css";

body {
  font-family: "Inter";
  background: var(--black);
  color: var(--white);
}

.app {
  height: 100%;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.big-container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-sm {
  max-width: 1082px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-lg {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-xl {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}

.title-page {
  color: var(--white);
  font-size: 60px;
  font-family: "Gilroy";
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.page-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-top: 40px;
  padding-bottom: 90px;
}

#fileInput {
  display: none;
}

@media screen and (max-width: 1380px) {
  .section-p {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1060px) {
  .title-page {
    font-size: 48px;
  }
}

@media screen and (max-width: 1060px) {
  .title-page {
    font-size: 32px;
  }
}
@media screen and (max-width: 780px) {
  .section-p {
    padding-left: 0;
  }
}

@media screen and (max-width: 520px) {
  .container {
    padding: 0 15px;
  }
  .main {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .title-page {
    font-size: 24px;
  }
}
