/* Для инпута */
.ui-input {
  width: 100%;
  height: 51px;
  padding: 20px 32px;
  border: 1px solid rgba(42, 43, 57, 0.25);
  border-radius: 6px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 11px;
  color: var(--black);
}
.ui-input::placeholder {
  opacity: 0.5;
  user-select: none;
}
.input__wrapper {
  position: relative;
}
.input-eye {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.form__err-message {
  color: var(--red);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 10px;
}
.form-help {
  text-align: right;
  grid-column: 2;
  color: var(--blue);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 600;
  line-height: 17px;
}

.ui-input.error,
.ui-input.error::placeholder {
  border-color: var(--red);
  color: var(--red);
}

/* Для кнопки */
.ui-button {
  width: 100%;
  height: 57px;
  padding: 18px;
  background: var(--black);
  border-radius: 40px;
  text-align: center;
  color: var(--white);
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 600;
  line-height: 22px;
}

/* Социальные сети */
.auth__social-button {
  height: 44px;
  padding: 14px 40px 15px 60px;
  border-radius: 45px;
  position: relative;
  font-size: 20px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 14px;
  user-select: none;
}
.social-icon {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  position: absolute;
  display: flex;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
}
.auth__social-button.discord {
  background: rgba(88, 101, 242, 0.2);
  color: var(--discord-color);
}
.auth__social-button.google {
  background: var(--google-bg);
  color: var(--black);
}
.social-icon.discord {
  background: var(--discord-color);
}
.social-icon.google {
  background: var(--white);
}

/* Чекбокс */
.ui-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.ui-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checked {
  min-width: 22px;
  height: 22px;
  border: 1px solid var(--gray);
  border-radius: 2px;
  display: inline-block;
  position: relative;
}

.checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 9px;
  background-image: url("../images/checkbox.svg");
  opacity: 0;
}

.ui-checkbox input:checked + .checked {
  background: var(--black);
  border: none;
  transition: all 0.3s ease;
}
.ui-checkbox input:checked + .checked::after {
  opacity: 1;
}

.label-text {
  margin-left: 10px;
  color: var(--label-text);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 10px;
}
.label-link {
  color: var(--black);
  margin-left: 4px;
  margin-right: 4px;
}

/* Вернуться назад для формы */
.come-back {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  font-family: "Gilroy";
  line-height: 1.71429;
}

/* Input two */
.form-input {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: none;
  color: var(--white);
}

/* Button white */
.form-button {
  background: var(--white);
  color: var(--black);
}

/* Textarea */
.ui-textarea {
  height: 141px;
  padding: 32px;
  line-height: 20px;
  resize: none;
}

.two-inputs {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Modal */
.modal {
  padding: 0 28px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(25px);
}
.modal.active {
  display: flex;
}
.modal__menu {
  background: var(--dark-gray);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.modal__menu-wrapper {
  padding: 40px;
}
.modal__menu-name {
  text-align: center;
  color: var(--white);
  font-size: 40px;
  font-family: "Gilroy";
  font-weight: 600;
  line-height: 28px;
}
.modal__menu-text {
  margin-top: 24px;
  text-align: center;
  color: var(--white);
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 400;
  line-height: 1.4;
  opacity: 0.8;
}
.modal__menu-buttons {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 16px;
}
.modal-button {
  width: 100%;
  height: 57px;
  padding: 14px 30px;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 600;
  line-height: 1.4;
}
.modal__button-apply {
  background: var(--white);
  color: var(--black);
}
.modal__button-apply:hover {
  background: none;
  border: 1px solid var(--gray);
  color: var(--white);
}
.modal__button-close {
  border: 1px solid var(--gray);
  color: var(--white);
}
.modal__button-close:hover {
  background: var(--white);
  color: var(--black);
}

/* Popups */
.ui-popup {
  position: relative;
}
.popup-label {
  width: 100%;
  height: 51px;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
.popup-placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 11px;
  color: var(--white);
  opacity: 0.2;
  user-select: none;
}
.popup-icon {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
}
.popups-items {
  display: none;
  padding: 2px;
  background: var(--dark-gray);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
.popups-items.open {
  display: block;
}
.popups-item {
  padding: 12px 20px;
  border-radius: 2px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.popup__select-value {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
}
.popups-item:hover {
  background: var(--black);
}
.ui-popup .popup-icon.active {
  transform: rotate(-180deg);
  transition: all 0.2s linear;
}
.button-light {
  color: var(--light-blue-gray);
  transition: color 0.3s ease;
}
.button-light:hover {
  color: var(--black);
}

@media screen and (max-width: 580px) {
  .modal__menu-wrapper {
    padding: 24px;
  }
  .modal__menu-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
  }
  .modal__menu-text {
    margin-top: 12px;
    color: var(--white);
    font-size: 13px;
    line-height: 1.4;
  }
  .modal__menu-buttons {
    margin-top: 12px;
  }
  .modal-button {
    height: 46px;
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .ui-input {
    height: 40px;
    padding: 18px 15px;
    font-size: 14px;
  }
  .form__err-message,
  .form-help {
    font-size: 12px;
    line-height: 14px;
  }
  .ui-button {
    height: 46px;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  /* Социальные сети */
  .auth__social-button {
    height: 37px;
    padding: 13px 28px 14px 48px;
    font-size: 14px;
    line-height: 13px;
  }
  .social-icon {
    width: 28px;
    height: 28px;
    left: 5px;
  }
  .social-icon.discord svg {
    width: 19px;
    height: 14px;
  }
  .social-icon.google svg {
    width: 16px;
    height: 16px;
  }

  /* Чекбокс */
  .label-text {
    width: 290px;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 16px;
  }
  .label-link {
    margin-left: 3px;
  }
  .label-link-m {
    margin: 0;
  }

  /* Input two */
  .form-input {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: none;
    color: var(--white);
  }

  /* Button white */
  .form-button {
    background: var(--white);
    color: var(--black);
  }

  /* Textarea */
  .ui-textarea {
    height: 113px;
    padding: 16px 12px;
    font-size: 13px;
    line-height: 1.4;
  }

  .two-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  /* popups */
  .popup-label {
    height: 40px;
    padding: 10px 15px;
  }
  .popup-placeholder {
    font-size: 14px;
  }
  .popups-items.open {
    display: block;
  }
  .popups-item {
    padding: 16px;
    font-size: 14px;
  }
  .popup__select-value {
    font-size: 14px;
  }
  .ui-popup .popup-icon svg {
    width: 12px;
    height: 7px;
  }
}

@media screen and (max-width: 350px) {
  .modal {
    padding: 15px;
  }
  .modal__menu-wrapper {
    padding: 24px 22px;
  }
}

@media screen and (max-width: 330px) {
  .label-link-m {
    margin-left: 3px;
  }
}
