.modal-big {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  display: none;
}
.modal-big.modal__edit-avatar.open {
  display: flex;
}
.modal-big.modal__add-services.open {
  display: flex;
}
.modal-big.modal__add-card.open {
  display: flex;
}
.modal-big.modal__chat-accept.open {
  display: flex;
}
.modal__chat-accept .modal__block .modal__add-services .modal__block,
.modal__add-card .modal__block {
  width: 560px;
}
.modal__add-services .modal__block {
  width: 560px;
}

.modal__block {
  border-radius: 12px;
  background: var(--black);
}
/* .modal__block-inner {} */
.modal-head {
  padding: 24px 24px 16px;
  border-bottom: 1px solid var(--charcoal-gray);
  display: flex;
  align-items: center;
  gap: 24px;
}
.modal-close {
  opacity: 0.7;
}
.modal-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.94444;
  font-family: "Gilroy";
  color: var(--white);
}
.modal-content {
  margin-top: 40px;
  padding: 0 24px 22px;
  border-bottom: 1px solid var(--charcoal-gray);
}

.modal-big__button {
  padding: 20px 24px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 23px;
}
.modal-btn {
  height: 50px;
  padding: 15px 23px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33333;
  font-family: "Gilroy";
  text-align: center;
  color: var(--black);
}
.modal__btn-cancel {
  background: var(--slate-gray);
  color: var(--white);
}
.modal__btn-confirm {
  width: 150px;
  background: var(--white);
  color: var(--black);
}

/* Модалка Add new folder */
.modal__big-folder {
    padding: 20px 15px;
}
.modal__big-folder .modal__block {
  width: 1130px;
}
.upload-image {
  margin-top: 32px;
  width: 100%;
  height: 62px;
  border: 1px dashed rgba(211, 211, 211, 0.25);
  border-radius: 6px;
}
.upload-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  font-family: "Gilroy";
  color: var(--white);
  cursor: pointer;
}
.uploading__files {
  width: 100%;
  border-radius: 6px;
  border: 1px dashed rgba(211, 211, 211, 0.25);
}
.uploading__files-inner {
  padding: 22px 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.files-item {
  width: 100px;
  height: 100px;
  position: relative;
}
.files-item .files-img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-size: cover;
}
.delete-item {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
.files-item.file {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__content-files {
  border-bottom: none;
}
.modal__file-button {
  padding: 0 24px 24px;
}
.modal__big-folder {
  display: none;
}
.modal__big-folder.active {
  display: flex;
}

.modal__content-files .uploading__files {
  margin-top: 16px;
}

@media screen and (max-width: 540px) {
  .modal-head {
    padding: 20px 24px 16px;
  }
  .modal-content {
    margin-top: 20px;
    padding: 0 24px 20px;
  }
  .modal-content .input-group {
    flex-direction: column;
    gap: 12px;
  }
  .modal-content .upload-image {
    margin-top: 16px;
  }
  .files-item {
    width: 80px;
    height: 80px;
  }
  .uploading__files-inner {
    padding: 22px 12px;
    justify-content: center;
    gap: 8px;
  }
  .delete-item {
    width: 16px;
    height: 16px;
  }
  .delete-item svg {
    width: 8px;
    height: 8px;
  }
  .modal-big__button {
    gap: 16px;
  }
  .modal__btn-cancel {
    width: 70%;
  }
  .modal__btn-confirm {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .files-item {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 380px) {
  .files-item {
    width: 50px;
    height: 50px;
  }
}