.modal-big {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}
.modal__block {
  border-radius: 12px;
  background: var(--black);
}
/* .modal__block-inner {} */
.modal-head {
  padding: 24px 24px 16px;
  border-bottom: 1px solid var(--charcoal-gray);
  display: flex;
  align-items: center;
  gap: 24px;
}
.modal-close {
  opacity: 0.7;
}
.modal-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.94444;
  font-family: "Gilroy";
  color: var(--white);
}
.modal-content {
  margin-top: 40px;
  padding: 0 24px 22px;
  border-bottom: 1px solid var(--charcoal-gray);
}

.modal-big__button {
  padding: 20px 24px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 23px;
}
.modal-btn {
  height: 50px;
  padding: 15px 23px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33333;
  font-family: "Gilroy";
  text-align: center;
  color: var(--black);
}
.modal__btn-cancel {
  background: var(--slate-gray);
  color: var(--white);
}
.modal__btn-confirm {
  width: 150px;
  background: var(--white);
  color: var(--black);
}
